.container-fluid {
  table {
    width: 100%;
  }

  .table-content {
    width: 60%;
    margin: 0 auto;
  }
}

mat-header-cell {
  text-align: center;
  display: flex;
  justify-content: flex-end;
}
