<div class="container-fluid">
  <div class="table-content">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-3"> Email</th>
        <td mat-cell *matCellDef="let element" class="col-3"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-2"> First name</th>
        <td mat-cell *matCellDef="let element" class="col-2"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-2"> Last name</th>
        <td mat-cell *matCellDef="let element" class="col-2"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastLogin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-3"> Last login</th>
        <td mat-cell *matCellDef="let element" class="col-3"> {{element.lastLogin | date: 'medium'}} </td>
      </ng-container>

      <ng-container matColumnDef="logged">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="col-1"> Logged</th>
        <td mat-cell *matCellDef="let element" class="col-1">
          <i *ngIf="element.logged" class="fa fa-3x fa-check-circle text-success d-flex justify-content-center"></i>
          <i *ngIf="!element.logged" class="fa fa-3x fa-times-circle text-danger d-flex justify-content-center"></i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="d-flex"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="d-flex"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[15]" showFirstLastButtons></mat-paginator>

    <div>
      {{loggedUsers}}/{{allUsers}}
    </div>
  </div>
</div>
